<!-- your html code here -->
<div style="background-color:white">
    
    <div class="container py-4">
        <div  class="d-flex justify-content-start">
            <img class="rounded-circle ms-3" 
            src="./assets/img/2.jpg" 
            alt="Imagen"  
            width="250" 
            height="250">
            <div>
                <h1>
                   Encabezado <span class="text-muted"> está guapo!!</span>
                </h1>
                <p> Todo acto tiene sus consecuencias</p>
            </div>
        </div>
    </div>
</div>